<% @card_comments.each do |card_comment| %>
  <div class="mt-6 border-t pt-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
         <span class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
          <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
          </svg>
        </span>
        <div class="ml-2">
          <span class="block font-medium text-gray-700">Micheal Gough</span>
          <span class="block text-sm text-gray-500">Product Manager</span>
        </div>
      </div>
      <button class="text-gray-400 hover:text-gray-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6"
        >
          <circle cx="12" cy="12" r="1"></circle>
          <circle cx="12" cy="5" r="1"></circle>
          <circle cx="12" cy="19" r="1"></circle>
        </svg>
      </button>
    </div>
    <p class="mt-2 text-sm text-gray-700">
      <%= card_comment.text %>
    </p>
  </div>
<% end %>
