<div class="mx-auto w-full">
  <h1 class="max-w-2xl mx-auto block uppercase tracking-wide text-gray-700 font-bold text-4xl">
    Create new Kanban Project
  </h1>
  <%= render "form_kanban", kanban: @kanban %>
</div>
